demoflow.json
[{"id":"677bf736.988408","type":"http in","name":"Read Blob","url":"/readblob","method":"get","swaggerDoc":"","x":181,"y":59,"z":"9387f1aa.6c781","wires":[["16c04c72.e93fb4"]]},{"id":"41704d78.be8fb4","type":"http response","name":"","x":467,"y":317,"z":"9387f1aa.6c781","wires":[]},{"id":"da98d1ac.25673","type":"template","name":"Body","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>The contents of your blob</title>\n</head>\n\n<body>\n<form action=\"writeblob\" method=\"post\">\n    <h1>Blob name: <input type=\"text\" name=\"_id\" value=\"{{payload._id}}\"/></h1>\n    <textarea name=\"blob\" rows=\"10\" cols=\"30\">{{payload.blob}}</textarea>\n  <input type=\"hidden\" name=\"_rev\" value=\"{{payload._rev}}\" />\n  <input type=\"submit\" value=\"Submit\" />\n</form>\n</body>\n</html>","x":400,"y":256,"z":"9387f1aa.6c781","wires":[["41704d78.be8fb4"]]},{"id":"d1b77b99.2e4888","type":"cloudant in","service":"blobby-cloudantNoSQLDB","cloudant":"","name":"Blobs","database":"blobs","search":"_id_","design":"","index":"","x":386,"y":188,"z":"9387f1aa.6c781","wires":[["da98d1ac.25673"]]},{"id":"16c04c72.e93fb4","type":"template","name":"Put id in payload","field":"payload","format":"handlebars","template":"{{payload._id}}","x":327,"y":120,"z":"9387f1aa.6c781","wires":[["d1b77b99.2e4888"]]},{"id":"e751d4df.18ae28","type":"http in","name":"Write Blob","url":"/writeblob","method":"post","swaggerDoc":"","x":126,"y":395,"z":"9387f1aa.6c781","wires":[["8c32c858.73cd38","c59ba06d.3a646","facef5d4.053108"]]},{"id":"8c32c858.73cd38","type":"debug","name":"","active":true,"console":"false","complete":"false","x":236,"y":513,"z":"9387f1aa.6c781","wires":[]},{"id":"291f242c.d6e0dc","type":"cloudant out","service":"blobby-cloudantNoSQLDB","cloudant":"","name":"Write blob","database":"blobs","payonly":true,"operation":"insert","x":666,"y":398,"z":"9387f1aa.6c781","wires":[]},{"id":"ff48f9f8.00b708","type":"http response","name":"Redirect to load","x":643,"y":530,"z":"9387f1aa.6c781","wires":[]},{"id":"75d00ab3.8a2ff4","type":"function","name":"Build Redirect","func":"msg.statusCode = 303;\nmsg.headers = {\"Location\" : \"readblob?_id=\" + msg.payload._id};\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":496,"z":"9387f1aa.6c781","wires":[["ff48f9f8.00b708"]]},{"id":"c59ba06d.3a646","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":348,"y":442,"z":"9387f1aa.6c781","wires":[["75d00ab3.8a2ff4"]]},{"id":"facef5d4.053108","type":"function","name":"Clean Input for DB","func":"if (msg.payload._rev == \"\")\n{\n    delete msg.payload._rev;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":372,"z":"9387f1aa.6c781","wires":[["291f242c.d6e0dc"]]}]
